.user-floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #191970;
  color: #fff;
  padding: 16px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  z-index: 999;
}

.user-floating-button:hover {
  background-color: #4169e1;
  transform: translateY(-2px);
}
